.amazing-services {
    .amazing-services__head {
        @include head($black, $tomato);
        .head__h {
            line-height: 5.1rem;
        }
        margin-bottom: 5rem;
    }

    .amazing-services__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 4%;
        grid-row-gap: 3.25rem;

        .amazing-services__card {
            @include flex_align_center-between;
            .card__text {
                p:nth-child(1) {
                    @include font3;
                    text-transform: uppercase;
                }
                p:nth-child(2) {
                    @include font5;
                }
            }
        }

        .c1 {
            &::before {
                content: url(../amazing-services_icons/1.svg);
                margin-right: 8.1%;
            }
            grid-area: 1 / 1 / 2 / 2;
        }

        .c2 {
            &::before {
                content: url(../amazing-services_icons/2.svg);
                margin-right: 8.1%;
            }
            grid-area: 1 / 2 / 2 / 3;
        }

        .c3 {
            &::before {
                content: url(../amazing-services_icons/3.svg);
                margin-right: 8.1%;
            }
            grid-area: 1 / 3 / 2 / 4;
        }

        .c4 {
            &::before {
                content: url(../amazing-services_icons/4.svg);
                margin-right: 8.1%;
            }
            grid-area: 2 / 1 / 3 / 2;
        }

        .c5 {
            &::before {
                content: url(../amazing-services_icons/5.svg);
                margin-right: 8.1%;
            }
            grid-area: 2 / 2 / 3 / 3;
        }

        .c6 {
            &::before {
                content: url(../amazing-services_icons/6.svg);
                margin-right: 8.1%;
            }
            grid-area: 2 / 3 / 3 / 4;
        }
    }
}