$tomato: rgb(243, 130, 129);
$light_yellow: rgb(249, 239, 207);
$light_brown: rgb(244, 191, 135);
$light_blue: rgb(149, 225, 211);
$black: rgb(45, 48, 51);
$main_white: rgb(248, 248, 248);
$second_white: rgb(245, 245, 245);
$grey: rgb(198, 203, 205);