.our-stories {
    .our-stories__head {
        @include head($black, $tomato);

        .head__h {
            line-height: 5.1rem;
        }
        margin-bottom: 3.5rem;
    }

    .our-stories__cards {
        @include flex_align_center-between;
        gap: 2%;

        .card__image {
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }

            &::before {
                content: url(../our-stories/data.png);
                position: absolute;
                bottom: 10%;
                left: -3%;
            }
        }

        .card__text {
            .text__title {
                @include font3;
                text-transform: uppercase;
            }

            .text__body {
                @include font5;
            }
        }

        .card__bottom {
            display: flex;
            justify-content: flex-start;
            gap: 8%;

            .views {
                &::before {
                    content: url(../our-stories/views.svg);
                    margin-right: 1rem;
                }
            }

            .comments {
                &::before {
                    content: url(../our-stories/comments.svg);
                    margin-right: 1rem;
                }
            }
        }
    }
}

.map-wrap {
    background-image: url(../our-stories/map-back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .wrap-opacity {
        background: rgba(255, 255, 255, 0.9);
        .map {
            padding: 3rem;
            .map__head {
                &::before {
                    content: url(../our-stories/map.svg);
                }
                @include head($tomato, $tomato);
                .head__h {
                    line-height: 5.1rem;
                    margin: 2rem 0;
                    margin-top: 0;
                }
            }
        }

    }
}