
@mixin separator($color) {
    width: 10.63rem;
    height: 0px;
    border: 2px solid;
    border-color: $color;
    background-color: $color;
}

@mixin flex_align_center($direction : row) {
    display: flex;
    @if $direction == column {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } @else {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@mixin flex_align_center-between($direction : row) {
    display: flex;
    @if $direction == column {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    } @else {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@mixin flex_align_start-between($direction : row) {
    display: flex;
    @if $direction == column {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    } @else {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

@mixin flex_align_start-center($direction : row) {
    display: flex;
    @if $direction == column {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    } @else {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}

@mixin flex_align_center-around($direction : row) {
    display: flex;
    @if $direction == column {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    } @else {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@mixin head($font_color, $hr_color) {
    @include flex_align_center(column);
    text-align: center;

    & > * {
        margin: 0;
    }

    & > .head__p {
        @include font2($font_color)
    }

    & > .head__h {
        @include font4($font_color);
        text-transform: uppercase;
        margin: 4.40% 0;
    }

    & > .head__hr {
        @include separator($hr_color)
    }
}