.reviews-wrap {
    max-width: 100%;
    background-color: $main-white;

    .reviews {
        @include flex_align_center-between;

        .reviews__icon {
            margin-right: 2rem;
            @include flex_align_center-between;

            &::before {
                content: url(../service_content/arrow_down.svg);
                transform: rotate(270deg);
                margin-right: 3.5rem;
            }
        }

        .reviews__content {
            @include flex_align_center-between;
            &::after {
                content: url(../service_content/arrow_down.svg);
                transform: rotate(90deg);
                margin-left: 3.5rem;
            }

            .text__article {
                @include font4(rgb(169, 175, 177));
                font-style: italic;
            }

            .content__name {
                @include font2;

                &::before {
                    display: inline-block;
                    content: url(../reviews__icons/divider.svg);
                    margin-right: 3.5rem;
                    transform: translate(0, -20%);
                }
            }
        }
    }
}