@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
.fs1 {
  font-size: 144px;
}

.fs2 {
  font-size: 64px;
}

.fs36 {
  font-size: 36px;
}

.fs3 {
  font-size: 30px;
}

.fs4 {
  font-size: 24px;
}

.fs5 {
  font-size: 18px;
}

.fs6 {
  font-size: 14px;
}

:root {
  max-width: 100vw;
  height: fit-content;
}

body {
  margin: 0;
  max-width: 100%;
}

.background {
  background-size: 100% 100%;
  background-origin: border-box;
}

.opacity {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
}

.section {
  max-width: 100%;
  margin: 0 11.5%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.header-banner {
  background-image: url(../background-images/main.png);
}

.header-banner__background-opacity {
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}

.header {
  max-width: 100%;
  max-height: 7.8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header > img {
  max-width: 10%;
  max-height: 50%;
  min-width: 55px;
  min-height: 15px;
}
.header .header__menu {
  max-width: 50%;
  flex-grow: 5;
}
.header .header__menu .menu__list {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex-grow: 1;
}

.menu__item > * {
  padding: 5px;
}
.menu__item button {
  background: transparent;
  border: none;
  color: white;
}
.menu__item button i {
  width: 100%;
  height: 100%;
}
.menu__item a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
}
.menu__item:hover > a, .menu__item:hover > button {
  color: #f4bf87;
  border-bottom: 1px solid #f4bf87;
}

.banner {
  height: 92.2%;
}

.banner__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 2;
}
.banner__head > * {
  margin: 0;
}
.banner__head > .head__p {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  color: white;
}
.banner__head > .head__h {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 4.4% 0;
}
.banner__head > .head__hr {
  width: 10.63rem;
  height: 0px;
  border: 2px solid;
  border-color: white;
  background-color: white;
}

.banner__middle {
  flex-grow: 1;
}
.banner__middle .banner__button {
  width: 23.01rem;
  height: 4.85rem;
  margin: 11% 0;
  background: transparent;
  border: 4px solid white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
}

.banner__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #f9efcf;
  text-transform: uppercase;
}
.banner__bottom .bottom__card {
  width: 24%;
  border-top: 4px solid #f9efcf;
  cursor: pointer;
}
.banner__bottom .bottom__card span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #f9efcf;
}
.banner__bottom .bottom__card:hover, .banner__bottom .bottom__card:hover span {
  color: white;
  border-image: linear-gradient(90deg, #f38281, white 40%);
  border-image-slice: 1;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .about__head {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about .about__head > * {
  margin: 0;
}
.about .about__head > .head__p {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  color: #2d3033;
}
.about .about__head > .head__h {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #2d3033;
  text-transform: uppercase;
  margin: 4.4% 0;
}
.about .about__head > .head__hr {
  width: 10.63rem;
  height: 0px;
  border: 2px solid;
  border-color: #f38281;
  background-color: #f38281;
}
.about > p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
}
.about .about__cards {
  width: 100%;
  margin: 7.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about .about__cards .about__card {
  width: 23.13rem;
  height: 21.13rem;
  cursor: pointer;
}
.about .about__cards .about__card:nth-child(odd) {
  background-image: url(../about__cards/about2.png);
}
.about .about__cards .about__card:nth-child(even) {
  background-image: url(../about__cards/about1.png);
}
.about .about__cards .about__card:hover > .card__content {
  opacity: 0.9;
  transform: translate(-5%, -5%);
}
.about .about__cards .about__card .card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  color: white;
  text-transform: uppercase;
  transition: all 0.9s ease-in-out;
}

.futures__wrap {
  background-color: #95e1d3;
}
.futures__wrap .futures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*# sourceMappingURL=base.css.map */
